apiVersion: v1
kind: Service
metadata:
  name: my-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "key1=eks,key2=eks_lb"  
spec:
  type: LoadBalancer  
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: my-app
